{% extends "common/bootstrap.twig" %}

{% block title %}
    {{ labels.producer_dashboard_index_page_title }}
{% endblock %}

{% block more_css %}
    <link href="/assets/common/css/default.css" rel="stylesheet"/>
    <link href="/assets/common/css/bootstrap/sb-admin/sb-admin.css" rel="stylesheet"/>
    <link href="/assets/common/css/bootstrap/sb-admin/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/assets/producer/css/dashboard.css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="/assets/common/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
{% endblock %}

{% block more_js %}
    <script type="text/javascript" src="/assets/producer/js/producer.js"></script>
    <script type="text/javascript" src="/assets/common/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
    </script>
{% endblock %}

{% block body %}
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/app/producer/dashboard">{{ labels.producer_dashboard_index_page_title }}</a>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li {% if page.uri equals "/producer/dashboard" %}  class="active" {% endif %} >
                        <a href="/app/producer/dashboard"><i class="fa fa-fw fa-dashboard"></i> {{ labels.producer_dashboard_index_item_dashboard }}</a>
                    </li>
                    <li {% if page.uri equals "/producer/dashboard/shops" %}  class="active" {% endif %} >
                        <a href="/app/producer/dashboard/shops"><i class="fa fa-fw fa-shopping-cart"></i> {{ labels.producer_dashboard_index_item_shops }}</a>
                    </li>
                    <li {% if page.uri equals "/producer/dashboard/submissions" %}  class="active" {% endif %} >
                        <a href="/app/producer/dashboard/submissions"><i class="fa fa-fw fa-picture-o"></i> {{ labels.producer_dashboard_index_item_submissions }}</a>
                    </li>
                    <li>    
                        <a href="/logout"><i class="fa fa-sign-out"></i> {{ labels.producer_dashboard_index_item_logout }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                
                {% block heading %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{ labels.producer_dashboard_index_item_dashboard }}
                        </h1>
                    </div>
                </div>
                {% endblock %}
                
                {% block content %}
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            {{ labels.producer_dashboard_index_body_message }}
                        </p>
                    </div>
                </div>
                {% endblock %}
                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <div class="spread language-bar-container">
    {% include "common/snippets/language_bar.twig" %}
    </div>
{% endblock %}