{% extends "common/bootstrap.twig" %}

{% block title %}
    {{ labels.customer_login_page_title }}
{% endblock %}

{% block more_css %}
    <link href="/assets/common/css/default.css" rel="stylesheet"/>
    <link href="/assets/customers/css/login.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        {% if error is not empty %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <div id ="signin">

            {% if error is not empty %}
                <p class="error">{{ error }}</p>
            {% endif %}
            <form class="form-signin" action="/app/customers/login" method="post">
                <h2 class="form-signin-heading">
                    {{ labels.customer_login_login_label }}:
                </h2>
                <label for="login_name" class="sr-only">
                    {{ labels.customer_login_loginname_label }}
                </label>
                <input type="text" id="login_name" name="login_name" class="form-control" placeholder="{{ labels.customer_login_loginname_label }}" required autofocus>
                <label for="password" class="sr-only">
                    {{ labels.customer_login_password_label }}
                </label>
                <input type="password" id="password" name="password" class="form-control" placeholder="{{ labels.customer_login_password_label }}" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" >
                    {{ labels.customer_login_login_button }}
                </button>

                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%"  >
                    Don't have an account! 
                    <a href="#" onClick="$('#signin').hide();
                            $('#signup').show()">
                        Sign Up Here
                    </a>
                </div>

            </form> 
        </div>



    </div>


    <div id ="signup" style="display:none">

        <script>
            $(document).ready(function () {
                $('#signUpForm').bootstrapValidator();
            });
        </script>

        <form id="signUpForm" class="form-signup"  action="/app/customers/login" method="post">
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signup').hide();
                    $('#signin').show();">Sign In</a>
            </div>
            <h2 class="form-signin-heading">
                {{ labels.customer_register_register_label }}:
            </h2>
            <label for="customer_name" class="sr-only">
                {{ labels.customer_register_name_label }}:
            </label>
            <input type="text" id="customer_name" name="customer_name" class="form-control" placeholder="{{ labels.customer_register_name_label }}" required autofocus>

            <label for="customer_adress" class="sr-only">
                {{ labels.customer_register_adress_label }}:
            </label>
            <input type="text" id="customer_adress" name="customer_adress" class="form-control" placeholder="{{ labels.customer_register_adress_label }}" required autofocus>

            <label for="customer_adress" class="sr-only">
                {{ labels.customer_register_city_label }}:
            </label>
            <input type="text" id="customer_city" name="customer_city" class="form-control" placeholder="{{ labels.customer_register_city_label }}" required autofocus>

            <label for="customer_phone" class="sr-only">
                {{ labels.customer_register_phone_label }}:
            </label>
            <input type="number" id="customer_phone" name="customer_phone" class="form-control" placeholder="{{ labels.customer_register_phone_label }}" required autofocus>

            <label for="customer_email" class="sr-only">
                {{ labels.customer_register_email_label }}:
            </label>
            <input type="email" id="customer_email" name="customer_email" class="form-control" placeholder="{{ labels.customer_register_email_label }}" required autofocus>

            <label for="password" class="sr-only">
                {{ labels.customer_login_password_label }}:
            </label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="{{ labels.customer_login_password_label }}"


                   <label for="password" class="sr-only">
                {{ labels.customer_login_repeat_password_label }}:
            </label>
            <input type="password" id="passwordConfirm" name="passwordConfirm"  class="form-control" placeholder="{{ labels.customer_login_repeat_password_label }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">
                {{ labels.customer_register_register_button }}
            </button>
        </form>
    </div>

</div>

{% include "common/snippets/language_bar.twig" %}

{% endblock %}
