{% extends "photographers/shop/sessions.twig" %}


{% block heading %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{ labels.photographer_shop_session_heading }} {{session.title}}
            </h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">         
            <table class="table">
                <tr>
                    <th>{{ labels.photographer_shop_sessions_table_title }}</th>                                   
                    <td>{{ session.title }}</td>
                </tr>
                <tr>
                    <th>{{ labels.photographer_shop_sessions_table_description }}</th>
                    <td>{{ session.description }}</td>
                </tr>
                <tr>
                    <th>{{ labels.photographer_shop_sessions_table_ispublic }}</th>
                    <td>
                        {% if session.isPublic %}
                            {{ labels.photographer_shop_sessions_table_ispublic_yes }}
                        {% else %}
                            {{ labels.photographer_shop_sessions_table_ispublic_no }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ labels.photographer_shop_sessions_table_code }}</th>
                    <td>{{ session.code }}</td>
                </tr>
                <tr>
                    <th>{{ labels.photographer_shop_sessions_table_url }}</th>
                    <td> http://localhost:8080/app/customers/account/sessions/add/{{session.code}}</td>
                </tr>
            </table>
        </div>
    </div>


    {% for error in errors %}

        <div class="row alert alert-danger">
            <div class="col-lg-12">
                {{ error }}
            </div>
        </div>

    {% endfor %}

    {% for picture in session.pictures %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="/assets/shops/{{ shop.login }}/sessions/{{ session.id }}/{{ picture.fileName }}">
                <div class="caption">
                    <h4 class="pull-right">
                        &euro; {{ picture.price }}
                    </h4>
                    <h4>
                        <a href="#">
                            {{ picture.title }}
                        </a>
                    </h4>
                    <p>
                        {{ picture.description }}
                    </p>

                    <p>
                    <form class="form-signin" method="post" role="form">
                        change price:


                        <input type="hidden"  value ="{{picture.id}}" id="picture_id" name="picture_id">
                        <input type="number" step="0.01" id="price" name="price" class="form-control" required autofocus>
                        <button class="btn btn-lg btn-default btn-block" type="submit">
                            Change
                        </button>
                    </form>

                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
