{% extends "customers/shops/index.twig" %}

{% block content %}
    <div class="container">
            <div class="col-md-6">
                <h2>
                    {{ picture.title }}
                </h2>

                <img class="picture-detail" src="/assets/shops/{{ picture.session.shop.login }}/sessions/{{ picture.session.id }}/{{ picture.fileName }}">


            </div>

            <div class="col-md-6">
                <p>
                    <span class="currency-sign-convertable">
                        {% if cookie.currency equals "GBP" %}
                            &pound;
                        {% else %}
                            &euro; 
                        {% endif %}
                    </span> 
                    <span class="currency-convertable">
                        {{ picture.price | numberformat("#.##") }}
                    </span>
                </p>
                <p>
                    {{ picture.description }}
                </p>

                <a href="/app/customers/pictures/{{ picture.id }}/order" class="to-order">
                    {{ labels.customer_shop_toorder }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
