{% extends "common/bootstrap.twig" %}

{% block title %}
    {{ labels.login_page_title }}
{% endblock %}

{% block more_css %}
    <link href="/assets/common/css/default.css" rel="stylesheet"/>
    <link href="/assets/producer/css/login.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
    {% if error is not empty %}
        <p class="row alert alert-danger">{{ error }}</p>
    {% endif %}
    
    <form class="form-signin"  action="/login" method="POST">
        <h2 class="form-signin-heading">
            {{ labels.login_login_label }}:
        </h2>
        <label for="login_name" class="sr-only">
            {{ labels.login_loginname_label }}
        </label>
        <input type="text" id="login_name" name="login_name" class="form-control" placeholder="{{ labels.login_loginname_label }}" required autofocus>
        <label for="password" class="sr-only">
            {{ labels.login_password_label }}
        </label>
        <input type="password" id="password" name="password" class="form-control" placeholder="{{ labels.login_password_label }}" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            {{ labels.login_login_button }}
        </button>
    </form>
</div>
            
{% include "common/snippets/language_bar.twig" %}

{% endblock %}
