{% extends "customers/shops/index.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    {{ labels.customer_cart_cart }}
                </h2>
            {% if cart.order.entries is empty %}
                <p>
                    {{ labels.customer_cart_table_nocontent }}
                </p>
            {% else %}
                <div class="table-responsive">            
                    <table class="table table-hover table-striped cart-table">
                        <tbody>
                            {% for entry in cart.order.entries %}
                                <tr>                                    
                                    <td>
                                        <img class="cart-display" src="/assets/shops/{{ entry.picture.session.shop.login }}/sessions/{{ entry.picture.session.id }}/{{ entry.picture.fileName }}"
                                    </td>
                                    <td>
                                        {{ entry.picture.title }}
                                    </td>
                                    <td>
                                        {{ entry.type.name }}
                                    </td>
                                    <td>
                                        &euro; {{ entry.totalPrice }}
                                    </td>
                                    <td style="width: 80px">
                                        <input type="number" class="form-control" id="amount" name="amount" min="1" value="{{ entry.amount }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}