{% extends "customers/shops/shop_detail.twig" %}

{% block inner_content %}
    <h1>
        {{ session.title }}
    </h1>
    
    <p>
        {{ session.description }}
    </p>
    {% for picture in session.pictures %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="/assets/shops/{{ shop.login }}/sessions/{{ session.id }}/{{ picture.fileName }}">
                <div class="caption">
                    <h4 class="pull-right">
                        &euro; {{ picture.price }}
                    </h4>
                    <h4>
                        <a href="/app/customers/pictures/{{ picture.id }}">
                            {{ picture.title }}
                        </a>
                    </h4>
                    <p>
                        {{ picture.description }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
